/* TODO move to CSS MODULES */
.spinner {
  margin: 0px auto;
  top: 100px;
  position: relative;
  width: 0;
}
.rt-table {
  overflow: visible !important;
}
.rt-thead {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 2;
}
.rt-tbody {
  overflow: visible !important;
}
.sticky {
  position: sticky !important;
  left: 0;
  top: 0;
  z-index: 1;
  /* background-color: white; */
}
.product {
  display: flex;
  /* align-items: center; */
}
.product-image {
  /* float: left; */
}

.product-name {
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 5px;
  /* float: right; */
}

.thumbnail .caption {
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-weight: bold;
}
