.WaterVolumeContainer {
	grid-column: 2;
	grid-row:2;
	display: grid;
	grid-template-rows: 5px 1fr 1fr;
	background: rgb(185, 205, 229);
}

.WaterVolumeProgress {
	grid-column: 1;
	grid-row:1;
	display: flex;
}
.WaterVolumeChannelAndIncome {
	grid-column: 1;
	grid-row:1;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(185, 205, 229 );
}

.WaterVolumeChannelAndCustomerType {
	grid-column: 1;
	grid-row:3;
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: rgb(185, 205, 229);
}

.WaterVolumeChannelAndLabel {
	grid-column: 1;
	grid-row:2;
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: rgb(185, 205, 229);
}

.WaterVolumeChannel {
	grid-column: 2;
	grid-row:1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.WaterVolumeChannelLabel {
	grid-column: 1;
	grid-row:1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.WaterVolumeCustomerType {
	grid-column: 2;
	grid-row:1;
	display: flex;
	align-items: center;
	justify-content: center;
}


.SeamaServiceError {
	height: 100px;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
