.WaterVolumeContainer {
	grid-column: 2;
	grid-row:2;
	display: grid;
	grid-template-rows: 1fr 1fr;
	background: rgb(40,88,167);
}

.WaterVolumeChannelAndIncome {
	grid-column: 1;
	grid-row:1;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(171, 193, 222 );
}

.WaterVolumeChannelAndCustomerType {
	grid-column: 1;
	grid-row:2;
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: rgb(201, 223, 249 );
}

.WaterVolumeChannel {
	grid-column: 1;
	grid-row:1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.WaterVolumeCustomerType {
	grid-column: 2;
	grid-row:1;
	display: flex;
	align-items: center;
	justify-content: center;
}


.SeamaServiceError {
	height: 100px;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
