.CustomerContainer {
	grid-column: 2;
	grid-row:2;
	display: grid;
	grid-template-rows: 5px 1fr 1fr;
	background: rgb(185, 205, 229);
}

.CustomerProgress {
	grid-column: 1;
	grid-row:1;
	display: flex;
}

.CustomerSummaryRow2 {
	grid-column: 1;
	grid-row:2;
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: rgb(201, 223, 249 );
}

.CustomerSummaryRow2Col1 {
	grid-row:1;
	grid-column: 1;
	display: grid;
	grid-template-rows: 1fr 1fr;
}

.CustomerSummaryRow2Col1Top {
	grid-row:1;
	grid-column: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(185, 205, 229 );
}
.CustomerSummaryRow2Col1Bottom {
	grid-row:2;
	grid-column: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(185, 205, 229 );
}

.CustomerSummaryRow2Col2 {
	grid-row:1;
	grid-column: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(185, 205, 229 );
}

.CustomerSummaryRow3 {
	grid-row:3;
	grid-column: 1;
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: rgb(185, 205, 229 );
}

.CustomerSummaryRow3Col1 {
	grid-row:1;
	grid-column: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(185, 205, 229 );
}
.CustomerSummaryRow3Col2 {
	grid-row:1;
	grid-column: 2;
	display: flex;
	align-items: center;
	background-color: rgb(185, 205, 229 );
	justify-content: center;
}


.CustomerSummaryPanel {
	border-radius: 15px;
	border-color: rgb(101, 139, 194);
	border-style: solid;
	border-width: medium;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
