.LogIn {
    position: fixed;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    background-image: url('../images/log-in-background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5% 0;
}

.LogIn .normal {
    opacity: 1;
    margin: auto;
    width: 30%;
    padding: 10% 0
}

.LogIn .dimmed {
    opacity: .6;
    margin: auto;
    width: 30%;
    padding: 10% 0
}

.ImageStyle  {
	/*resize:both;*/
	/*width:100%;*/
	/*height:100%;*/
	display: block;
	margin-left:0;
	margin-rigt:0;
	marginBottom: 5px
}

