.SeamaNav {
    display: grid;
    grid-template-columns: 240px auto;
    grid-template-rows: auto auto;
    background-color: rgb(24,55,106);

}

.SeamaNavToolbar {
    grid-column: 1 /span 2;
    grid-row:1;
}

.SeamaNavSidebar {
    grid-column: 1;
    grid-row:2;
	padding: 3px;
    background: rgb(0, 0 ,255);
    height:100vh;
}

/*.SeamaNavContent {*/
    /*display: grid;*/
    /*grid-column: 2;*/
    /*grid-row:2;*/
    /*background: rgb(200, 200 ,200);*/
/*}*/

.SeamaNavSidebar li a {
    color: white;
    background:rgb(24, 55, 106)
}
